body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}
#featured-property{
  text-align: center;
}

nav{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}
nav a{
  background-color: grey;
}

#featured-property p{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#details {
  background-color: red;
  display: block;
  float: left;


}
